<%= form_for @post do |f| %>
<div class="formArea">
    <%= f.text_area :body %>
    <p style="margin:20px;">
        <%= f.file_field :picture %>
    </p>
</div>
<div class="button1"><%= f.submit '投 稿' %></div>
<% end %>